<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <rewrite>
         <rules>

            <!-- Remove the existing rules just incase we already defined them -->
            <remove name="RedirectHtmlExtensions" />
            <remove name="RewriteHtmlExtensions" />

            <!-- Add a rule to redirect x.html pages to just x -->
            <rule name="RedirectHtmlExtensions" enabled="true" stopProcessing="true">
               <match url="(.*)\.html$" />
               <action type="Redirect" url="{R:1}" redirectType="Permanent" />
            </rule>

            <!-- Add a rule to rewrite the x pages to x.html behind the scene -->
            <rule name="RewriteHtmlExtensions" enabled="true" stopProcessing="true">
               <match url="(.*)" negate="false" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="Rewrite" url="{R:1}." />

            </rule>

         </rules>
				RewriteRule ^([^\.]+)$ $1.html [NC,L]
      </rewrite>
   </system.webServer>
</configuration>